.bg-color {
    background-color: #fff;
    color: #333232;
    /* border: 1px solid black; */
    overflow: auto;
}

.bg-color-gray {
    background-color: #f5f5f5;
    color: #333232;
    /* border: 1px solid black; */
    overflow: auto;
}

.heading {
    font-size: 30px;
    text-transform: uppercase;
    display: grid;
    text-align: center;
    align-content: center;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mb-1{
    margin-bottom: .21rem !important;
}

.mt-4 {
    margin-top: 3rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.topic-heading-style-index {
    position: relative;
}

.topic-heading-style-index::after {
        content: "";
        width: 78px;
        height: 2px;
        background: #03a9f4;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50px;
        top: 3.5rem;
}

.short-topic-heading-style {
    border-bottom: 2px solid #8bd7f9;
    overflow: hidden;
}

.short-topic-heading-style strong {
    background: #1477bd;
    color: #fff;
    padding: 7px 20px 1px 15px;
    position: relative;
    font: 19px 'Roboto',sans-serif;
}

.short-topic-heading-style strong::before {
    position: absolute;
    content: "";
    width: 187%;
    height: 100%;
    background: #1477bd;
   
    transform: rotate(45deg);
}

.card {
    box-shadow: none;
    box-shadow: 0 2px 2px 0 
        rgba(0,0,0,.14), 
        0 3px 1px -2px 
        rgba(0,0,0,.2), 
        0 1px 5px 0 
        rgba(0,0,0,.12);
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    border: 0;
}

.card-dark {
    border-bottom: solid 3px #424242;
    border-radius: 3px;
}

.card-body {
    padding: 1rem;
}

.card-custom {
    box-shadow: 0 0 8px rgba(55,145,223,.15);
    padding: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all .6s;
    margin-top: 10px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
    color: #0277bd;
    transition: all ease .1s;
    text-decoration: none;
}

a:hover {
    color: black;
}

strong {
    font-size: 18px;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.btn {
    text-transform: uppercase;
}

.btn-style {
    padding: 8px 30px;
}

.btn-danger {
    color: #fff !important;
    background-color: #f44336 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.color-danger {
    color: #f44336!important;
}

.fs-14 {
    font-size: 14px;
}

.subcription-plan-logo {
    width: 65px;
    margin: auto;
    margin-bottom: 22px;
    margin-top: 10px;
}

.subcription-price {
    position: relative;
}

.rupee {
    position: relative;
    top: -13px;
    font-size: 2rem;
    margin-right: 4px;
    color: #37dfdf;
}

.price {
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 5px;
    padding: 14px 0;
    margin: 20px 0 0;
    text-transform: uppercase;
    background: -webkit-gradient(linear,left top,right top,from(#37dfdf),to(#2180da));
    background: linear-gradient(to right,#37dfdf 30%,#2180da 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.subcription-right-text-index {
    font-size: 42px;
    line-height: normal;
    margin-top: 100px;
    font-weight: 500
}

.view-webinars-plan-btn-index {
    margin-top: 10px;
    border: none;
    font-size: 17px;
    padding: 8px 40px;
    border-radius: 5px;
    color: #fff!important;
    background: #dd574e!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)!important;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.pt-2 {
    padding-top: 2rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.divider-line {
    border-right: 2px solid #d8d8d8;
}