<section class="bg-color">
    <div class="container">
        <p class="heading mt-4 mb-2 topic-heading-style-index">Webinars</p>
        <div class="row">
            <div class="col-lg-7">
                <h4 class="short-topic-heading-style">
                    <strong>
                        Upcoming Webinar
                    </strong>
                </h4>
                <article class="card card-dark">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="assets/images/webinarImg1.jpg" alt="webinarImg1" class="img-fluid mb-2">
                            </div>
                            <div class="col-lg-9">
                                <h4 class="mt-0 mb-1">
                                    <a href="#">
                                        <strong>Understanding Price Action Trading in Technical Analysis</strong>
                                    </a>
                                </h4>
                                <p>Gomathi Shankar on 29 Aug 2020 11:00 AM </p>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="text-justify mb-0">
                                    <p>Price action is a trading technique that allows a trader to read the market and make subjective trading ...</p>
                                </div>
                                <a class="btn btn-raised btn-danger mb-2"> Explore Webinar</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card card-dark">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="assets/images/webinarImg2.jpg" alt="webinarImg1" class="img-fluid mb-2">
                            </div>
                            <div class="col-lg-9">
                                <h4 class="mt-0 mb-1">
                                    <a href="#">
                                        <strong>RSI / Bollinger Bands - The Deadly Duo</strong>
                                    </a>
                                </h4>
                                <p>Vishal B Malkan on 29 Aug 2020 03:00 PM </p>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="text-justify mb-0">
                                    <p>In this webinar we will discuss Momentum (RSI) + Volatility (Bollinger Bands)</p>
                                    <p>We will learn so...</p>
                                </div>
                                <a class="btn btn-raised btn-danger mb-2"> Explore Webinar</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-5">
                <h4 class="short-topic-heading-style">
                    <strong>
                        Past Webinar
                    </strong>
                </h4>
                <article class="card card-dark">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/webinarImg1.jpg" class="img-fluid" style="max-height:144px" alt="webinarImg1">
                            </div>
                            <div class="col-8 pl-0">
                                <h5 class="mt-0 mb-0">
                                    <a href="#">
                                        <strong class="fs-14">Understanding Price Action Trading in Technical Analysis</strong>
                                    </a>
                                </h5>
                                <p style="margin-bottom: -8px !important">
                                    by
                                    <strong class="fs-14">Gomathi Shankar</strong>
                                </p>
                                <small>Dated on : 22 Aug 20</small>
                                <div class="mb-1">
                                    <a class="color-danger">Purchase Recording</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card card-dark">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/webinarImg3.jpg" class="img-fluid" style="max-height:144px" alt="webinarImg1">
                            </div>
                            <div class="col-8 pl-0">
                                <h5 class="mt-0 mb-0">
                                    <a href="#">
                                        <strong class="fs-14">How to get Stock Market Edge using StockEdge</strong>
                                    </a>
                                </h5>
                                <p style="margin-bottom: -8px !important">
                                    by
                                    <strong class="fs-14">Vivek Bajaj</strong>
                                </p>
                                <small>Dated on : 20 Aug 20</small>
                                <div class="mb-1">
                                    <a class="color-danger">Purchase Recording</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card card-dark">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/webinarImg4.jpg" class="img-fluid" style="max-height:144px" alt="webinarImg1">
                            </div>
                            <div class="col-8 pl-0">
                                <h5 class="mt-0 mb-0">
                                    <a href="#">
                                        <strong class="fs-14">ब्रेकआउट तकनीक खेलने का सही तरीका</strong>
                                    </a>
                                </h5>
                                <p style="margin-bottom: -8px !important">
                                    by
                                    <strong class="fs-14">Ravi Prasad</strong>
                                </p>
                                <small>Dated on : 19 Aug 20</small>
                                <div class="mb-1">
                                    <a class="color-danger">Purchase Recording</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#" class="btn btn-raised btn-danger">View all Webinars</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-color-gray mb-2">
    <div class="container">
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index">Our webinar plans</p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="card card-custom text-center">
                            <img src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/GASGAhEYWd.png" class="subcription-plan-logo">
                            <p class="mb-0" style="color: #000;font-weight: 600;font-size: 18px;">
                                Starter Plan
                            </p>
                            <p class="subcription-price mt-2 mb-0">
                                <span class="rupee">
                                    <i class="fa fa-inr"></i>
                                </span>
                                <span class="price">2499</span>
                            </p>
                            <small style="font-size: 11px; margin-top: -3px; color: #a9a8a8;">(inclusive of taxes)</small>
                            <p style="font-size: 18px; margin-top:19px">
                                7 Webinars
                            </p>
                            <p style="font-size: 18px;">
                                Valid for 90 days
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-custom text-center">
                            <img src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/eyLzcgFopq.png" class="subcription-plan-logo">
                            <p class="mb-0" style="color: #000;font-weight: 600;font-size: 18px;">
                                Pro Plan
                            </p>
                            <p class="subcription-price mt-2 mb-0">
                                <span class="rupee">
                                    <i class="fa fa-inr"></i>
                                </span>
                                <span class="price">4999</span>
                            </p>
                            <small style="font-size: 11px; margin-top: -3px; color: #a9a8a8;">(inclusive of taxes)</small>
                            <p style="font-size: 18px; margin-top:19px">
                                15 Webinars
                            </p>
                            <p style="font-size: 18px;">
                                Valid for 180 days
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-custom text-center">
                            <img src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/AsWDufPHmc.png" class="subcription-plan-logo">
                            <p class="mb-0" style="color: #000;font-weight: 600;font-size: 18px;">
                                Plus Plan
                            </p>
                            <p class="subcription-price mt-2 mb-0">
                                <span class="rupee">
                                    <i class="fa fa-inr"></i>
                                </span>
                                <span class="price">9999</span>
                            </p>
                            <small style="font-size: 11px; margin-top: -3px; color: #a9a8a8;">(inclusive of taxes)</small>
                            <p style="font-size: 18px; margin-top:19px">
                                30 Webinars
                            </p>
                            <p style="font-size: 18px;">
                                Valid for 365 days
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4">
                <p class="subcription-right-text-index">
                    Find the
                    <br/>
                    <span style="color: #1477bd;">perfect plan</span>
                    <br/>
                    for your webinars.
                </p>
                <a href="#" class="btn btn-raised view-webinars-plan-btn-index">
                    view plans
                    <div class="ripple-conainer"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-color mb-2">
    <div class="container">
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index">Upcoming orientation</p>
        </div>
        <div class="row pt-2">
            <div class="col-lg-6 divider-line">
                <p class="text-center mb-0" style="font-size: 20px; color:#000;">
                    <b>Looking for a career in Stock Market?</b>
                </p>
                <p class="text-center mb-0 fs-14" style="color:#000;">
                    Attend a free orientation by Ms. Shuchi Rungta
                </p>
                <p class="text-center fs-14" style="color: #da113f;">Every Thursday at 5:00pm</p>
                <p class="text-center fs-14">
                    or Explore
                    <b class="color: #000;">Certification in Research, Trading and Advisory</b>
                </p>
                <div class="row mt-4">
                    <div class="col-lg-7 pt-1 fs-14">
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            NSC certified
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Market experienced faculty members
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Training on all aspects of stock market
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Placement assistance
                        </p>
                    </div>  
                    <div class="col-lg-5 text-center">
                        <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/Shuchi-maam.png" class="img-fluid" width="100px">
                        <p class="mb-0 fs-14">
                            <b>Ms. Shuchi Rungta</b>
                        </p>
                        <p>
                            <small style="font-size: 11px">B.com, CFA, CMT Level 2</small>
                        </p>
                    </div>
                </div>
                <p class="text-center">
                    <a class="btn btn-raised btn-danger" href="#" target="_blank">
                        enroll for free orientation
                    </a>
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-center mb-0" style="font-size: 20px; color:#000;">
                    <b>Struggling to make money in Stock Market?</b>
                </p>
                <p class="text-center mb-0 fs-14" style="color:#000;">
                    Attend a free orientation by Mr. Vivek Bajaj
                </p>
                <p class="text-center fs-14" style="color: #da113f;">Every Sunday at 11:00am</p>
                <p class="text-center fs-14">
                    or Explore
                    <b class="color: #000;">Trading Mentorship Program</b>
                </p>
                <div class="row mt-4">
                    <div class="col-lg-7 pt-1 fs-14">
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Individual hand-holding
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Daily trade sharing with logic
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Full day trading with screen sharing
                        </p>
                        <p>
                            <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/tick.png" style="width: 15px;margin-top: -4px;">
                            Trading psychology & Trade management
                        </p>
                    </div>  
                    <div class="col-lg-5 text-center">
                        <img loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/vivek-sir.png" class="img-fluid" width="100px">
                        <p class="mb-0 fs-14">
                            <b>Mr. Vivek Bajaj</b>
                        </p>
                        <p>
                            <small style="font-size: 11px">MBA(IIM Indore), ACA, ACS, M.com</small>
                        </p>
                    </div>
                </div>
                <p class="text-center">
                    <a class="btn btn-raised btn-danger" href="#" target="_blank">
                        enroll for free orientation
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-color-gray mb-2">
    <div class="container">
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index">Courses Certified By</p>
        </div>
        <div class="row p-4 text-center" style="background: #fff">
            <div class="col-lg-4 mt-3 mb-3">
                <div class="affiliation-logo-style">
                    <a href="#">
                        <img src="assets/images/nse_academy_new.png" alt="nse_academy">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mb-3">
                <div class="affiliation-logo-style">
                    <a href="#">
                        <img src="assets/images/mcx.png" alt="mcx">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mb-3">
                <div class="affiliation-logo-style">
                    <a href="#">
                        <img src="assets/images/ncdex.png" alt="ncdex">
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index">Testimonials</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">   
                        <div class="carousel">
                            <div class="carousel-inner">
                                <owl-carousel-o [options]="customOptions">
                                    <ng-template carouselSlide>
                                        <blockquote class="blockquote ms-blockquote">
                                            <p class="lead">Very good course on technical anaylsis. Anyone who wants to start to learn technical anaylsis from scratch this course is highly recommended.</p>
                                            <footer class="footer-style">
                                                <b>- Pranit Hindalekar</b>, <cite>Certification in Online Essential Technical Analysis</cite>
                                            </footer>
                                        </blockquote>
                                    </ng-template>  
                                    <ng-template carouselSlide>
                                        <blockquote class="blockquote ms-blockquote">
                                            <p class="lead">Amazing course for people who want to learn from abcd of stock markets to in-depth knowledge of it. The faculty is amazing and Siddharth sir's classes are the best.</p>
                                            <footer class="footer-style">
                                                <b>- Yash Shrivastava</b>, <cite>Certification in Online Foundation of Capital Market</cite>
                                            </footer>
                                        </blockquote>
                                    </ng-template>  
                                    <ng-template carouselSlide>
                                        <blockquote class="blockquote ms-blockquote">
                                            <p class="lead">Most useful course in its segment. Highly recomended for beginners. Fundamentals of the financial market are covered very efficiently.</p>
                                            <footer class="footer-style">
                                                <b>- Swarnadeep Das</b>, <cite>Financial Market Expert</cite>
                                            </footer>
                                        </blockquote>
                                    </ng-template>  
                                </owl-carousel-o>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-color mb-2">
    <div class="container">
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index" style="text-transform: none !important;">Curated Course Modules To Get You Started!</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="index-page-nine-ninety-nine-series-text">
                    Start Learning
                    <br>
                    Financial Markets
                    <br>
                    at just 
                    <span style="color: #ca2a1e;">
                        <b>Rs. 999!</b>
                    </span>
                </p>
                <p class="mt-4">
                    <a href="#" class="btn btn-lg btn-danger btn-raised"> 
                        <span> View all Courses</span>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 mt-2">
                <img src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/999-home-image.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="bg-color-gray mb-2">
    <div class="container">
        <div class="text-center">
            <p class="heading mt-4 mb-2 topic-heading-style-index">Media Coverage</p>
        </div>
        <div>
            <div class="media-coverage-images flex text-center"> 
                <div>
                    <a href="#" target="_blank"> 
                        <figure>
                            <img class="featured-story" loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/b-standard.png">
                        </figure>
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank"> 
                        <figure>
                            <img class="featured-story" loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/b-line.png">
                        </figure>
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank"> 
                        <figure>
                            <img class="featured-story" style="margin: 0 !important" loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/etimes-logo.png">
                        </figure>
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank"> 
                        <figure>
                            <img class="featured-story" loading="lazy" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/times_of_india.png">
                        </figure>
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank"> 
                        <figure>
                            <img class="featured-story" loading="lazy" style="width:95px;" src="https://d24uab5gycr2uz.cloudfront.net/uploads/other_pic/yourstory-logo.png">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


