<section class="bg-color">
    <div class="container">
        <p class="heading mt-4 mb-2 topic-heading-style-index">Featured Course</p>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div>
                            <div class="ribbon ribbon-top-right">
                                <span>Best Seller</span>
                            </div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg1.png" alt="cardImage1" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg2.png" alt="cardImage2" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg3.png" alt="cardImage3" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg4.png" alt="cardImage4" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg1.png" alt="cardImage1" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg2.png" alt="cardImage2" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card card-info animation-delay-10 pd-1" style="width: 16rem;">
                        <div class="ribbon ribbon-top-right">
                            <span>Best Seller</span>
                        </div>
                        <div>
                            <a href="#" class="ft-course-name">
                                <img src="assets/images/cardImg3.png" alt="cardImage3" >
                            </a>
                            <p class="course-name">
                                <a href="#" class="ft-course-name">Online NSE Academy Certified Capital Market Professional (E-NCCMP)</a>
                            </p>
                            <p class="ft-course-subject">
                                <small>
                                    In
                                    <a href="#">Finacial Market</a>
                                </small>
                            </p>
                            <div style="border-bottom: 1px solid #eaeaea;margin-bottom: 12px;height: 2.2rem;">
                                <span style="font: 13px 'Roboto', sans-serif">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    1554
                                </span>
                            </div>
                            <div class="row featured-courses-price-section">
                                <div class="col-lg-6">
                                    <p style="color: #000;margin-top: -6px !important;">
                                        <i class="fa fa-inr"></i>
                                        26,600
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-sm btn-block elearn-market-btn btn-danger btn-raised m-0 ">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
            </owl-carousel-o>
        <div class="row text-center animation-delay-5" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-12 mb-2">
                <a href="#" class="btn btn-style btn-white btn-raised">
                    <i class="fa fa-book" aria-hidden="
                    true"></i>
                    View All Courses
                </a>
            </div>
        </div>

    </div>
</section>