body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color {
    background-color: #f5f5f5;
    color: #333232;
    border: 1px solid black;
}

.heading {
    font-size: 30px;
    text-transform: uppercase;
    display: grid;
    text-align: center;
    align-content: center;
}

.mt-4 {
    margin-top: 3rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.topic-heading-style-index {
    position: relative;
}

.topic-heading-style-index::after {
        content: "";
        width: 78px;
        height: 2px;
        background: #03a9f4;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50px;
        top: 3.5rem;
}


.card-info {
    border-bottom: solid 3px #00bcd4;
    border-radius: 3px;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 2px 0 
        rgba(0,0,0,.14), 0 3px 1px -2px 
        rgba(0,0,0,.2), 0 1px 5px 0 
        rgba(0,0,0,.12);
}

.animation-delay-10 {
    animation-delay: 1s!important;
}

.pd-1 {
    padding: 1rem;
}

/* common */
/* .ribbon {
    width: 70px;
    height: 69px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #f44336;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 276px;
    background-color: #f44336;
    box-shadow: 0 5px 10px rgba(0,0,0,.64);
    color: #fff;
    font: 700 11px/1 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
} */

/* top right*/
/* .ribbon-top-right {
  top: -15px;
  right: -20px;
  margin: 0;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(50deg);
} */

img {
    width: 315.55px;
}

.ft-course-name {    
    font: 12px 'Roboto',sans-serif;
    transition: all ease .1s;
}


a {
    color: #0277BD;
    text-decoration: none;
}

a:hover {
    color: black;
}

.ft-course-subject {
    font: 11.2px 'Roboto', sans-serif;
}
.course-name {
    height: 55px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

.featured-courses-price-section {
    height: 2rem;
}

.m-0 {
    margin: 0 !important;
}


.btn.btn-danger.btn-raised {
    color: #fff !important;
    background-color: #f44336 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.text-center {
    text-align: center;
}




  